In [22]:
import scipy.io as sio
import numpy as np
import os
import csv
import pandas as pd
os.chdir('/home/zohyos7/fmri')

In [23]:
mat_contents = sio.loadmat('youngDat_N250_Dec2015.mat')

In [24]:
mat_contents['r'][0,0].dtype.descr

[('subjID', '|O'),
 ('catchQue', '|O'),
 ('catchQueCorrect', '|O'),
 ('nCatchQueCorrect', '|O'),
 ('catchQueCoef', '|O'),
 ('isBadSubjects', '|O'),
 ('badSubjectIDs', '|O'),
 ('info', '|O'),
 ('infoLabel', '|O'),
 ('minutesSpent', '|O'),
 ('ethic', '|O'),
 ('ethics', '|O'),
 ('ethicOther', '|O'),
 ('languages', '|O'),
 ('languageIndex', '|O'),
 ('languageOther', '|O'),
 ('sports', '|O'),
 ('sportsIndex', '|O'),
 ('sportsOther', '|O'),
 ('artisticTalents', '|O'),
 ('religions', '|O'),
 ('religion', '|O'),
 ('religionOther', '|O'),
 ('politicals', '|O'),
 ('political', '|O'),
 ('birthPlace', '|O'),
 ('liveWithChoices', '|O'),
 ('liveWith', '|O'),
 ('familyMentalIllness', '|O'),
 ('educationLevels', '|O'),
 ('occupation', '|O'),
 ('timing', '|O'),
 ('que_practice_pc', '|O'),
 ('que_test_pc', '|O'),
 ('birthPlaceUSA', '|O')]

In [25]:
label = []
for i in range (mat_contents['r'][0,0]['politicals'][0].shape[0]):
    val = mat_contents['r'][0,0]['politicals'][0][i][0]
    label.append(val)
political_label = dict((i+1,label[i]) for i in range(len(label)))

In [26]:
bad_subject_list = []
for i in range (mat_contents['r'][0,0]['badSubjectIDs'].shape[0]):
    val = mat_contents['r'][0,0]['badSubjectIDs'][i][0]
    bad_subject_list.append(val)
bad_subject_list

[2542, 2570, 2593, 2761, 2974, 2996, 3005, 3066, 3118]

In [27]:
political_label

{1: 'Libertarian',
 2: 'Democrat',
 3: 'TeaParty',
 4: 'Republican',
 5: 'Independent',
 6: 'Socialist'}

In [28]:
label = []
for i in range (mat_contents['r'][0,0]['languages'][0].shape[0]):
    val = mat_contents['r'][0,0]['languages'][0][i][0]
    label.append(val)
language_label = dict((i+1,label[i]) for i in range(len(label)))

In [29]:
language_label

{1: 'EnglishOnly',
 2: 'Italian',
 3: 'Greek',
 4: 'Cantonese',
 5: 'Mandarin',
 6: 'Arabics',
 7: 'Lebanese',
 8: 'Vietnamese',
 9: 'Spanish',
 10: 'French',
 11: 'Other'}

In [30]:
languagelist = []
for i in range (mat_contents['r'][0,0]['languageIndex'].shape[0]):
    val = mat_contents['r'][0,0]['languageIndex'][i][0][0][0]
    languagelist.append(val)

In [43]:
subjID = pd.DataFrame(mat_contents['r'][0,0]['subjID'], columns = ['subjID'])

In [44]:
political = pd.DataFrame(mat_contents['r'][0,0]['political'], columns = ['political affiliation'])

In [45]:
language = pd.DataFrame(languagelist, columns = ['language'])

In [46]:
birthPlace = pd.DataFrame(mat_contents['r'][0,0]['birthPlaceUSA'], columns = ['birthPlace'])

In [47]:
bad_subject = pd.DataFrame(mat_contents['r'][0,0]['isBadSubjects'].T, columns = ['isBadSubjects'])

In [48]:
subj_profile = pd.concat([subjID, political, language, birthPlace, bad_subject], axis=1)

In [49]:
subj_profile

     subjID  political affiliation  language  birthPlace  isBadSubjects
0      2357                      5         1           1              0
1      2359                      2        11           1              0
2      2360                      5        11           1              0
3      2364                      4         1           1              0
4      2365                      2         1           1              0
5      2371                      5         1           1              0
6      2377                      2         1           1              0
7      2431                      2         1           1              0
8      2486                      2         1           1              0
9      2505                      2         1           1              0
10     2523                      2         1           1              0
11     2524                      6         1           1              0
12     2528                      5         1           1              0
13     2538                      5         1           1              0
14     2540                      5         5           0              0
15     2542                      3         1           1              1
16     2544                      2         1           1              0
17     2548                      5         1           1              0
18     2553                      4         1           1              0
19     2554                      2         1           1              0
20     2555                      5         1           1              0
21     2556                      2         9           1              0
22     2561                      2         1           1              0
23     2568                      2         1           1              0
24     2570                      2         1           1              1
25     2573                      2         1           1              0
26     2577                      2         1           0              0
27     2581                      5         1           1              0
28     2582                      2        11           0              0
29     2583                      4         1           1              0
..      ...                    ...       ...         ...            ...
220    3112                      1         1           1              0
221    3113                      4         1           1              0
222    3115                      2         1           1              0
223    3118                      1         1           1              1
224    3119                      2         1           1              0
225    3120                      5         1           1              0
226    3121                      6         5           0              0
227    3123                      1         1           1              0
228    3125                      1         1           1              0
229    3126                      2         1           0              0
230    3130                      2        11           0              0
231    3132                      1         1           1              0
232    3136                      1         1           1              0
233    3139                      4        11           0              0
234    3140                      2         1           1              0
235    3141                      5         1           1              0
236    3142                      4         1           1              0
237    3144                      5         1           1              0
238    3148                      2        10           1              0
239    3153                      2         4           1              0
240    3154                      2         9           1              0
241    3156                      1         1           1              0
242    3166                      4         1           1              0
243    3170                      4         1           1              0
244    3171                      5        11           0              0
245    3179                      5         1           1              0
246    3181                      4         1           1              0
247    3184                      5         1           1              0
248    3188                      5         1           1              0
249    3190                      4         1           1              0

[250 rows x 5 columns]

In [50]:
subj_profile.to_csv(os.path.join('/data/wellbeing_bids/subj_profile.tsv'), 
                         sep = '\t', quoting=csv.QUOTE_NONE, index = False)

In [51]:
subj_profile = pd.read_csv("/data/wellbeing_bids/subj_profile.tsv",delimiter='\t',encoding='utf-8')

In [52]:
subj_profile

     subjID  political affiliation  language  birthPlace  isBadSubjects
0      2357                      5         1           1              0
1      2359                      2        11           1              0
2      2360                      5        11           1              0
3      2364                      4         1           1              0
4      2365                      2         1           1              0
5      2371                      5         1           1              0
6      2377                      2         1           1              0
7      2431                      2         1           1              0
8      2486                      2         1           1              0
9      2505                      2         1           1              0
10     2523                      2         1           1              0
11     2524                      6         1           1              0
12     2528                      5         1           1              0
13     2538                      5         1           1              0
14     2540                      5         5           0              0
15     2542                      3         1           1              1
16     2544                      2         1           1              0
17     2548                      5         1           1              0
18     2553                      4         1           1              0
19     2554                      2         1           1              0
20     2555                      5         1           1              0
21     2556                      2         9           1              0
22     2561                      2         1           1              0
23     2568                      2         1           1              0
24     2570                      2         1           1              1
25     2573                      2         1           1              0
26     2577                      2         1           0              0
27     2581                      5         1           1              0
28     2582                      2        11           0              0
29     2583                      4         1           1              0
..      ...                    ...       ...         ...            ...
220    3112                      1         1           1              0
221    3113                      4         1           1              0
222    3115                      2         1           1              0
223    3118                      1         1           1              1
224    3119                      2         1           1              0
225    3120                      5         1           1              0
226    3121                      6         5           0              0
227    3123                      1         1           1              0
228    3125                      1         1           1              0
229    3126                      2         1           0              0
230    3130                      2        11           0              0
231    3132                      1         1           1              0
232    3136                      1         1           1              0
233    3139                      4        11           0              0
234    3140                      2         1           1              0
235    3141                      5         1           1              0
236    3142                      4         1           1              0
237    3144                      5         1           1              0
238    3148                      2        10           1              0
239    3153                      2         4           1              0
240    3154                      2         9           1              0
241    3156                      1         1           1              0
242    3166                      4         1           1              0
243    3170                      4         1           1              0
244    3171                      5        11           0              0
245    3179                      5         1           1              0
246    3181                      4         1           1              0
247    3184                      5         1           1              0
248    3188                      5         1           1              0
249    3190                      4         1           1              0

[250 rows x 5 columns]

In [53]:
for i in range(len(subj_profile)):
    if subj_profile['subjID'][i] in bad_subject_list :
        subj_profile.drop([i], inplace = True)

In [54]:
subj_profile = subj_profile.reset_index()

In [55]:
subj_profile.groupby('political affiliation').size()

political affiliation
1    23
2    82
3     1
4    58
5    72
6     5
dtype: int64

In [56]:
subj_profile.groupby('language').size()

language
1     200
4       1
5       8
6       1
9       5
10      1
11     25
dtype: int64

In [57]:
subj_profile.groupby('birthPlace').size()

birthPlace
0     29
1    212
dtype: int64

In [59]:
subj_profile.groupby('isBadSubjects').size()

isBadSubjects
0    241
dtype: int64

In [60]:
len(subj_profile)

241

In [61]:
range(len(subj_profile))

range(0, 241)

In [93]:
republicans_affect = []
democrats_affect = []
independent_affect = []
for i in range(len(subj_profile)):
    if subj_profile['birthPlace'][i] == 1  and subj_profile['subjID'][i] not in Blacklist_Affect: 
        if subj_profile['political affiliation'][i] == 4:
            republicans_affect.append(subj_profile['subjID'][i])
        elif subj_profile['political affiliation'][i] == 2:
            democrats_affect.append(subj_profile['subjID'][i])
        elif subj_profile['political affiliation'][i] == 5:
            independent_affect.append(subj_profile['subjID'][i])

In [110]:
import pickle
with open("/home/zohyos7/republicans_affect.txt", "wb") as fp:
    pickle.dump(republicans_affect, fp)
with open("/home/zohyos7/democrats_affect.txt", "wb") as fp:
    pickle.dump(democrats_affect, fp)
with open("/home/zohyos7/independents_affect.txt", "wb") as fp:
    pickle.dump(independent_affect, fp)

In [111]:
with open("/home/zohyos7/republicans_affect.txt", "rb") as fp:
    republicans = pickle.load(fp)
with open("/home/zohyos7/democrats_affect.txt", "rb") as fp:
    democrats = pickle.load(fp)
with open("/home/zohyos7/independents_affect.txt", "rb") as fp:
    independents = pickle.load(fp)

In [112]:
republicans_affect

[2553,
 2583,
 2588,
 2592,
 2610,
 2617,
 2640,
 2643,
 2649,
 2652,
 2654,
 2655,
 2672,
 2679,
 2682,
 2693,
 2694,
 2797,
 2798,
 2821,
 2855,
 2858,
 2862,
 2864,
 2896,
 2899,
 2901,
 2913,
 2919,
 2958,
 2961,
 2966,
 2970,
 3027,
 3068,
 3083,
 3090,
 3095,
 3113,
 3142,
 3166,
 3170,
 3181,
 3190]

In [113]:
democrats_affect

[2359,
 2365,
 2377,
 2431,
 2505,
 2554,
 2556,
 2561,
 2568,
 2573,
 2590,
 2595,
 2599,
 2616,
 2624,
 2625,
 2630,
 2631,
 2633,
 2637,
 2639,
 2653,
 2663,
 2666,
 2670,
 2713,
 2751,
 2769,
 2783,
 2808,
 2830,
 2844,
 2856,
 2895,
 2959,
 2998,
 3026,
 3038,
 3043,
 3087,
 3094,
 3098,
 3104,
 3105,
 3106,
 3115,
 3119,
 3140,
 3148,
 3153]

In [101]:
republicans_tom = []
democrats_tom = []
independent_tom = []
for i in range(len(subj_profile)):
    if subj_profile['birthPlace'][i] == 1  and subj_profile['subjID'][i] not in Blacklist_Tom: 
        if subj_profile['political affiliation'][i] == 4:
            republicans_tom.append(subj_profile['subjID'][i])
        elif subj_profile['political affiliation'][i] == 2:
            democrats_tom.append(subj_profile['subjID'][i])
        elif subj_profile['political affiliation'][i] == 5:
            independents_tom.append(subj_profile['subjID'][i])

In [121]:

with open("/home/zohyos7/republicans_tom.txt", "wb") as fp:
    pickle.dump(republicans_tom, fp)
with open("/home/zohyos7/democrats_tom.txt", "wb") as fp:
    pickle.dump(democrats_tom, fp)
with open("/home/zohyos7/independents_tom.txt", "wb") as fp:
    pickle.dump(independent_tom, fp)

In [123]:
with open("/home/zohyos7/republicans_tom.txt", "rb") as fp:
    republicans = pickle.load(fp)
with open("/home/zohyos7/democrats_tom.txt", "rb") as fp:
    democrats = pickle.load(fp)
with open("/home/zohyos7/independents_tom.txt", "rb") as fp:
    independents = pickle.load(fp)

In [117]:
len(independent_tom)

50

In [118]:
len(republicans_tom)

47

In [119]:
len(democrats_tom)

55

In [114]:
len(independent_affect)

47

In [115]:
len(republicans_affect)

44

In [116]:
len(democrats_affect)

50

In [59]:
Ahnlist = [2542,2570,2593,2761,2904,2974,2996,3005,3066,3118,2544,2595,2608,2610,2613,2643,2644,2655,2672,2678,2815,2841,2947,2364,2555,2556,2596,2611,2616,2622,2623,2693,2723,2855,2569,2871,2908,2961,2981,3044,3052,3059,3108,3126,3179,3188]

In [70]:
Blacklist_Affect = [2364,2371,2486,2523,2524,2538,2540,2542,2544,2548,2577,2582,2584,2596,2597,2611,2613,2622,2623,2627,2632,2636,2641,2644,2645,2647,2648,2656,2657,2660,2661,2680,2688,2689,2723,2737,2753,2761,2763,2799,2806,2809,2832,2841,2845,2868,2871,2904,2908,2918,2927,2929,2947,2955,2969,2972,2974,3005,3008,3028,3040,3050,3052,3060,3074,3079,3108,3118,3154]

In [71]:
Blacklist_Tom = [2364,2523,2524,2538,2542,2544,2548,2577,2584,2596,2597,2611,2613,2622,2623,2627,2632,2636,2641,2644,2645,2656,2657,2660,2661,2688,2689,2723,2737,2753,2761,2841,2845,2868,2871,2904,2908,2918,2929,2947,2955,2969,2974,3008,3028,3040,3050,3052,3060,3108,3118,3154]