In [10]:
import scipy.io as sio
import numpy as np
import os
import csv
import pandas as pd
os.chdir('/home/zohyos7/fmri')

In [11]:
mat_contents = sio.loadmat('youngDat_N250_Dec2015.mat')

In [12]:
mat_contents['r'][0,0].dtype.descr

[('subjID', '|O'),
 ('catchQue', '|O'),
 ('catchQueCorrect', '|O'),
 ('nCatchQueCorrect', '|O'),
 ('catchQueCoef', '|O'),
 ('isBadSubjects', '|O'),
 ('badSubjectIDs', '|O'),
 ('info', '|O'),
 ('infoLabel', '|O'),
 ('minutesSpent', '|O'),
 ('ethic', '|O'),
 ('ethics', '|O'),
 ('ethicOther', '|O'),
 ('languages', '|O'),
 ('languageIndex', '|O'),
 ('languageOther', '|O'),
 ('sports', '|O'),
 ('sportsIndex', '|O'),
 ('sportsOther', '|O'),
 ('artisticTalents', '|O'),
 ('religions', '|O'),
 ('religion', '|O'),
 ('religionOther', '|O'),
 ('politicals', '|O'),
 ('political', '|O'),
 ('birthPlace', '|O'),
 ('liveWithChoices', '|O'),
 ('liveWith', '|O'),
 ('familyMentalIllness', '|O'),
 ('educationLevels', '|O'),
 ('occupation', '|O'),
 ('timing', '|O'),
 ('que_practice_pc', '|O'),
 ('que_test_pc', '|O'),
 ('birthPlaceUSA', '|O')]

In [13]:
label = []
for i in range (mat_contents['r'][0,0]['politicals'][0].shape[0]):
    val = mat_contents['r'][0,0]['politicals'][0][i][0]
    label.append(val)
political_label = dict((i+1,label[i]) for i in range(len(label)))

In [14]:
bad_subject_list = []
for i in range (mat_contents['r'][0,0]['badSubjectIDs'].shape[0]):
    val = mat_contents['r'][0,0]['badSubjectIDs'][i][0]
    bad_subject_list.append(val)
bad_subject_list

[2542, 2570, 2593, 2761, 2974, 2996, 3005, 3066, 3118]

In [15]:
political_label

{1: 'Libertarian',
 2: 'Democrat',
 3: 'TeaParty',
 4: 'Republican',
 5: 'Independent',
 6: 'Socialist'}

In [16]:
label = []
for i in range (mat_contents['r'][0,0]['languages'][0].shape[0]):
    val = mat_contents['r'][0,0]['languages'][0][i][0]
    label.append(val)
language_label = dict((i+1,label[i]) for i in range(len(label)))

In [17]:
language_label

{1: 'EnglishOnly',
 2: 'Italian',
 3: 'Greek',
 4: 'Cantonese',
 5: 'Mandarin',
 6: 'Arabics',
 7: 'Lebanese',
 8: 'Vietnamese',
 9: 'Spanish',
 10: 'French',
 11: 'Other'}

In [18]:
languagelist = []
for i in range (mat_contents['r'][0,0]['languageIndex'].shape[0]):
    val = mat_contents['r'][0,0]['languageIndex'][i][0][0][0]
    languagelist.append(val)

In [19]:
subjID = pd.DataFrame(mat_contents['r'][0,0]['subjID'], columns = ['subjID'])

In [20]:
political = pd.DataFrame(mat_contents['r'][0,0]['political'], columns = ['political affiliation'])

In [21]:
language = pd.DataFrame(languagelist, columns = ['language'])

In [22]:
birthPlace = pd.DataFrame(mat_contents['r'][0,0]['birthPlaceUSA'], columns = ['birthPlace'])

In [23]:
subj_profile = pd.concat([subjID, political, language, birthPlace], axis=1)

In [24]:
subj_profile

     subjID  political affiliation  language  birthPlace
0      2357                      5         1           1
1      2359                      2        11           1
2      2360                      5        11           1
3      2364                      4         1           1
4      2365                      2         1           1
5      2371                      5         1           1
6      2377                      2         1           1
7      2431                      2         1           1
8      2486                      2         1           1
9      2505                      2         1           1
10     2523                      2         1           1
11     2524                      6         1           1
12     2528                      5         1           1
13     2538                      5         1           1
14     2540                      5         5           0
15     2542                      3         1           1
16     2544                      2         1           1
17     2548                      5         1           1
18     2553                      4         1           1
19     2554                      2         1           1
20     2555                      5         1           1
21     2556                      2         9           1
22     2561                      2         1           1
23     2568                      2         1           1
24     2570                      2         1           1
25     2573                      2         1           1
26     2577                      2         1           0
27     2581                      5         1           1
28     2582                      2        11           0
29     2583                      4         1           1
..      ...                    ...       ...         ...
220    3112                      1         1           1
221    3113                      4         1           1
222    3115                      2         1           1
223    3118                      1         1           1
224    3119                      2         1           1
225    3120                      5         1           1
226    3121                      6         5           0
227    3123                      1         1           1
228    3125                      1         1           1
229    3126                      2         1           0
230    3130                      2        11           0
231    3132                      1         1           1
232    3136                      1         1           1
233    3139                      4        11           0
234    3140                      2         1           1
235    3141                      5         1           1
236    3142                      4         1           1
237    3144                      5         1           1
238    3148                      2        10           1
239    3153                      2         4           1
240    3154                      2         9           1
241    3156                      1         1           1
242    3166                      4         1           1
243    3170                      4         1           1
244    3171                      5        11           0
245    3179                      5         1           1
246    3181                      4         1           1
247    3184                      5         1           1
248    3188                      5         1           1
249    3190                      4         1           1

[250 rows x 4 columns]

In [25]:
subj_profile.to_csv(os.path.join('/data/wellbeing_bids/subj_profile.tsv'), 
                         sep = '\t', quoting=csv.QUOTE_NONE, index = False)

In [26]:
subj_profile = pd.read_csv("/data/wellbeing_bids/subj_profile.tsv",delimiter='\t',encoding='utf-8')

In [27]:
subj_profile

     subjID  political affiliation  language  birthPlace
0      2357                      5         1           1
1      2359                      2        11           1
2      2360                      5        11           1
3      2364                      4         1           1
4      2365                      2         1           1
5      2371                      5         1           1
6      2377                      2         1           1
7      2431                      2         1           1
8      2486                      2         1           1
9      2505                      2         1           1
10     2523                      2         1           1
11     2524                      6         1           1
12     2528                      5         1           1
13     2538                      5         1           1
14     2540                      5         5           0
15     2542                      3         1           1
16     2544                      2         1           1
17     2548                      5         1           1
18     2553                      4         1           1
19     2554                      2         1           1
20     2555                      5         1           1
21     2556                      2         9           1
22     2561                      2         1           1
23     2568                      2         1           1
24     2570                      2         1           1
25     2573                      2         1           1
26     2577                      2         1           0
27     2581                      5         1           1
28     2582                      2        11           0
29     2583                      4         1           1
..      ...                    ...       ...         ...
220    3112                      1         1           1
221    3113                      4         1           1
222    3115                      2         1           1
223    3118                      1         1           1
224    3119                      2         1           1
225    3120                      5         1           1
226    3121                      6         5           0
227    3123                      1         1           1
228    3125                      1         1           1
229    3126                      2         1           0
230    3130                      2        11           0
231    3132                      1         1           1
232    3136                      1         1           1
233    3139                      4        11           0
234    3140                      2         1           1
235    3141                      5         1           1
236    3142                      4         1           1
237    3144                      5         1           1
238    3148                      2        10           1
239    3153                      2         4           1
240    3154                      2         9           1
241    3156                      1         1           1
242    3166                      4         1           1
243    3170                      4         1           1
244    3171                      5        11           0
245    3179                      5         1           1
246    3181                      4         1           1
247    3184                      5         1           1
248    3188                      5         1           1
249    3190                      4         1           1

[250 rows x 4 columns]

In [28]:
for i in range(len(subj_profile)):
    if subj_profile['subjID'][i] in bad_subject_list:
        subj_profile.drop([i], inplace = True)

In [29]:
subj_profile = subj_profile.reset_index()

In [30]:
subj_profile.groupby('political affiliation').size()

political affiliation
1    23
2    82
3     1
4    58
5    72
6     5
dtype: int64

In [31]:
subj_profile.groupby('language').size()

language
1     200
4       1
5       8
6       1
9       5
10      1
11     25
dtype: int64

In [33]:
subj_profile.groupby('birthPlace').size()

birthPlace
0     29
1    212
dtype: int64

In [34]:
len(subj_profile)

241

In [56]:
range(len(subj_profile))

range(0, 241)

In [71]:
republicans = []
democrats = []
independent = []
for i in range(len(subj_profile)):
    if subj_profile['birthPlace'][i] == 1 and subj_profile['subjID'][i] not in Ahnlist: 
        if subj_profile['political affiliation'][i] == 4:
            republicans.append(subj_profile['subjID'][i])
        elif subj_profile['political affiliation'][i] == 2:
            democrats.append(subj_profile['subjID'][i])
        elif subj_profile['political affiliation'][i] == 5:
            independent.append(subj_profile['subjID'][i])

In [83]:
import pickle
with open("/home/zohyos7/republicans.txt", "wb") as fp:
    pickle.dump(republicans, fp)
with open("/home/zohyos7/democrats.txt", "wb") as fp:
    pickle.dump(democrats, fp)

In [84]:
with open("/home/zohyos7/republicans.txt", "rb") as fp:
    republicans = pickle.load(fp)
with open("/home/zohyos7/democrats.txt", "rb") as fp:
    democrats = pickle.load(fp)

In [81]:
republicans

[2553,
 2583,
 2588,
 2592,
 2617,
 2627,
 2640,
 2649,
 2652,
 2654,
 2656,
 2661,
 2679,
 2680,
 2682,
 2694,
 2797,
 2798,
 2799,
 2809,
 2821,
 2858,
 2862,
 2864,
 2896,
 2899,
 2901,
 2913,
 2919,
 2958,
 2966,
 2970,
 3027,
 3050,
 3068,
 3083,
 3090,
 3095,
 3113,
 3142,
 3166,
 3170,
 3181,
 3190]

In [82]:
democrats

[2359,
 2365,
 2377,
 2431,
 2486,
 2505,
 2523,
 2554,
 2561,
 2568,
 2573,
 2584,
 2590,
 2599,
 2624,
 2625,
 2630,
 2631,
 2633,
 2636,
 2637,
 2639,
 2641,
 2648,
 2653,
 2660,
 2663,
 2666,
 2670,
 2689,
 2713,
 2751,
 2763,
 2769,
 2783,
 2808,
 2830,
 2832,
 2844,
 2856,
 2895,
 2918,
 2955,
 2959,
 2998,
 3026,
 3038,
 3043,
 3074,
 3087,
 3094,
 3098,
 3104,
 3105,
 3106,
 3115,
 3119,
 3140,
 3148,
 3153,
 3154]

In [64]:
len(independent)

51

In [59]:
Ahnlist = [2542,2570,2593,2761,2904,2974,2996,3005,3066,3118,2544,2595,2608,2610,2613,2643,2644,2655,2672,2678,2815,2841,2947,2364,2555,2556,2596,2611,2616,2622,2623,2693,2723,2855,2569,2871,2908,2961,2981,3044,3052,3059,3108,3126,3179,3188]